body {
  /* background-color: #F8F9F9; */
  margin: 0;
  font-family: "Mitr", sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.container {
  /* flex-wrap: wrap; */
  display: flex;
}
.d-flex {
  display: flex;
}

.color-main {
  color: cornflowerblue;
}
.color-white {
  color: antiquewhite;
}
.bg-main {
  background-color: azure;
}
.mr-auto {
  margin-right: auto;
}
.ml-auto {
  margin-left: auto;
}
.mt-auto {
  margin-top: auto;
}
.mb-auto {
  margin-bottom: auto;
}
.pt-10p {
  padding-top: 10px;
}
.pt-5p {
  padding-top: 5px;
}
.mb-5p {
  margin-bottom: 5px;
}
.pb-10p {
  padding-bottom: 10px;
}
.p-2 {
  padding: 15px;
}
.pr-10p {
  padding-right: 10px;
}
.pl-10p {
  padding-left: 10px;
}

.mr-10p {
  margin-right: 10px;
}
.ml-10p {
  margin-left: 10px;
}
.mt-10p {
  margin-top: 10px;
}
.mb-10p {
  margin-bottom: 10px;
}
.color-err {
  color: red;
  font-size: 14px;
}
.form {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.wit {
  width: 500px;
}
.btn {
  background-color: dodgerblue;
  color: white;
  padding: 15px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}
.form-add {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  margin-bottom: 5px;
  display: inline-block;
  border: none;
  box-sizing: border-box;
  background: #fdfefe;  
}
.form-add:hover {
  box-shadow: 0 0 5px 0 #095484;
}
.focus-form {
  background-color: #ddd;
  outline: none;
}
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}
.btn-c {
  background-color: #ffc300; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

button:hover {
  opacity: 1;
}

.pannal {
  border-radius: 10px;
  background-color: #f5f5f5;
  padding: 20px;
}

/* layout */
ul.horizontal {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #ddd;
}
ul.horizontal li {
  float: left;
}
ul.horizontal li a {
  display: inline-block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
ul.horizontal li a.active {
  background-color: #2196f3;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
} 
input[type=number] { 
  -moz-appearance:textfield; 
} 
.loader {
  border: 5px solid #f3f3f3;
  border-radius: 50%;
  border-top: 5px solid #AED6F1 ;
  width: 20px;
  height: 20px;
  -webkit-animation: spin 1s linear infinite; /* Safari */
  animation: spin 1s linear infinite;
  margin-left: 10px;
  margin-right: 10px;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.justify-center{
  justify-content: center;
}
.align-center{
  align-items: center;
}

